[Unit]
Description=Unipi Neuron/Axon Modbus/Tcp Server
Before=mervisrt.service
Before=evok.service

[Service]
Type=simple
EnvironmentFile=-/etc/default/unipitcp
ExecStart=/opt/unipi/tools/unipi_tcp_server -l ${LISTEN_IP} -p ${LISTEN_PORT}
TimeoutStopSec=3
SyslogLevel=debug
SyslogIdentifier=unipi
WorkingDirectory=/opt/unipi/tools

Restart=always

[Install]
WantedBy=unipispi.target
