/backup
*~
*.swp
*.o
*.la
*.lo
*.log
*.trs
*.exe
fwspi
fwserial
neuron_tcp_server
bandwidth-client
.travis.yml
.dir-locals.el
.deps
.libs
src/libmodbus-master/tests/
src/libmodbus-master/m4/
libmodbus/
bin/unipi_tcp_server
bin/unipihost
