*~
*.swp
*.o
*.la
*.lo
*.log
*.trs
*.exe
.travis.yml
.dir-locals.el
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.status
configure
libtool
libunipichannel.pc
stamp-h1
debian/tmp/
debian/changelog
.src