[Unit]
Description=Unipi Neuron/Axon Firmware Update Service
Before=unipitcp.service

[Service]
Type=oneshot
Environment="FIRMWARE_UPDATE=0"
EnvironmentFile=-/etc/default/unipi-firmware-tools
ExecStart=/bin/sh -c 'if [ "${FIRMWARE_UPDATE}" = "1" ]; then /opt/unipi/bin/fwspi --auto; fi'
WorkingDirectory=/opt/unipi/bin

[Install]
WantedBy=unipispi.target
