[Unit]
Description=Unipi Neuron Modbus/Tcp Server
Before=mervisrt.service
Before=evok.service

[Service]
Type=simple
Environment="FIRMWARE_UPDATE=1"
EnvironmentFile=-/etc/default/neuron-modbus-tools
ExecStartPre=/bin/sh -c 'if [ "${FIRMWARE_UPDATE}" = "1" ]; then /opt/neuron-bin/fwspi --auto; fi'
ExecStart=/opt/neuron-bin/neuron_tcp_server -p 502
TimeoutStopSec=3
SyslogLevel=debug
SyslogIdentifier=neuron
WorkingDirectory=/opt/neuron-bin

Restart=always

[Install]
WantedBy=neuron.target
