[Unit]
Description=Check Unipi/Neuron version
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'if [ -r /sys/bus/i2c/devices/[01]-0050/eeprom ]; then systemctl --no-block start unipi1.target ; elif [ -r /sys/bus/i2c/devices/[01]-0057/eeprom ]; then systemctl --no-block start unipispi.target; fi'
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
