Source: unipi-tools
Section: unknown
Priority: optional
Maintainer: Miroslav Ondra <info@unipi.technology>
Uploaders: Martin Triska <triska@unipi.technology>
Build-Depends: debhelper-compat (= 13), libmodbus-dev, libsystemd-dev, libmhash-dev, libi2c-dev, pkg-config
Standards-Version: 3.9.8
Homepage: https://www.unipi.technology
Vcs-Git: https://git.unipi.technology/UniPi/unipi-tools.git
Vcs-Browser: https://git.unipi.technology/UniPi/unipi-tools/

Package: unipi-tools-libs
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Shared library to use Unipi SPI interface
 Library for Unipi controllers.

Package: unipi-modbus-tools
Architecture: any
Depends: unipi-tools-libs, ${shlibs:Depends}, ${misc:Depends}
Suggests: unipi-kernel-modules | unipi-kernel-modules-dkms, unipi-lte, unipi-flash-diag
Description: Modbus server for Unipi Neuron/Axon controllers.
 Modbus daemon for Unipi Neuron controllers.

Package: unipi-firmware-tools
Architecture: any
Depends: unipi-tools-libs, ${shlibs:Depends}, ${misc:Depends}
Suggests: unipi-kernel-modules (>=2.70) | unipi-kernel-modules-dkms (>=2.70)
Description: Firmware utilities for Unipi Neuron/Patron/Axon/Iris controllers.
 Utility for firmware update via SPI or serial Modbus. 
 Requires firmware files (package unipi-firmware.deb)

Package: unipi-tools-dev
Section: devel
Priority: optional
Architecture: any
Depends: ${misc:Depends}
Description: Static Libraries and Headers for Unipi SPI interface
 Static libraries and headers for Unipi controllers.

