#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

ifeq ($(shell dpkg-architecture -q DEB_BUILD_ARCH),armhf)

RPI_FIRMWARE_VER = $(shell dpkg-query -f='$${Version}' -W raspberrypi-kernel-headers)
LINUX_DIR_PATH = $(shell dpkg -L raspberrypi-kernel-headers | sed -n '/^\/lib\/modules\/.*-v7.*\/build$$/p'|head -1)
KERNEL_VERSION = $(subst /lib/modules/,,$(subst /build,,$(LINUX_DIR_PATH)))

endif

PROJECT_VERSION=$(shell dpkg-parsechangelog -S Version)

%:
	dh $@ --with=systemd

override_dh_auto_build:
	dh_auto_build -- LINUX_DIR_PATH="$(LINUX_DIR_PATH)" PROJECT_VERSION=$(PROJECT_VERSION)


override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_systemd_start:
	dh_systemd_start -Xset_image_read_only.service unipihostname.service unipicheck.service

override_dh_systemd_enable:
	dh_systemd_enable -Xset_image_read_only.service

# --no-package=unipi-common


