[Unit]
Description=Adapts device-tree fot IQRF series UniPi units
#After=local-fs.target
Before=evok.service
Before=mervisrt.service

[Service]
Type=oneshot
ExecStart=-/bin/bash -c 'cd /etc/bootcmd.d/; make enable-iqrf disable-485-on-ttyS0'
#RemainAfterExit=yes

[Install]
#WantedBy=multi-user.target
WantedBy=unipiiqrf.target
