[Unit]
Description=Setup hw on Unipi S227
#After=local-fs.target

[Service]
Type=oneshot
ExecStartPre=-/bin/sh -ec 'echo ttymxc0-tx > /sys/class/leds/unipi\:green\:sysled-x0/trigger || true'
ExecStartPre=-/bin/sh -ec 'echo ttymxc0-rx > /sys/class/leds/unipi\:green\:sysled-x1/trigger || true'
ExecStartPre=-/bin/sh -ec 'echo none > /sys/class/leds/unipi\:green\:sysled-x2/trigger || true'
ExecStartPre=-/bin/sh -ec 'echo none > /sys/class/leds/unipi\:green\:sysled-x3/trigger || true'
ExecStartPre=-/bin/sh -ec 'echo ttymxc1-tx > /sys/class/leds/unipi\:green\:sysled-x4/trigger || true'
ExecStartPre=-/bin/sh -ec 'echo ttymxc1-rx > /sys/class/leds/unipi\:green\:sysled-x5/trigger || true'
ExecStart=-/bin/bash -c 'cd /etc/bootcmd.d/; make disable-1wmaster'
#RemainAfterExit=yes

[Install]
WantedBy=unipiS227.target
