[Unit]
Description=Fixes RTL8211F timing issue on G1 PLC series
After=local-fs.target

[Service]
Type=oneshot
ExecStart=bash -c "grep -q '0x001cc878' 'sys/devices/platform/ff540000.ethernet/mdio_bus/stmmac-0/stmmac-0:01/phy_id' && make -C /etc/bootcmd.d/ enable-rtl-8211f"
RemainAfterExit=yes

[Install]
WantedBy=unipigate.target
