[Unit]
Description=Enables RS485 on ttymxc2
#After=local-fs.target
Before=evok.service
Before=mervisrt.service

[Service]
Type=oneshot
ExecStart=-/bin/bash -c 'cd /etc/bootcmd.d/; make enable-485-on-ttymxc2'
#RemainAfterExit=yes

[Install]
#WantedBy=multi-user.target
WantedBy=unipi-ttymxc2-rs485.target
