# Serial LEDs on NanoPi-based units
ACTION=="add", SUBSYSTEM=="leds", DEVPATH=="*/leds/unipi*sysled-x0", RUN+="/bin/sh -ec 'echo ttyS0-tx > /sys/${DEVPATH}/trigger || exit 0"
ACTION=="add", SUBSYSTEM=="leds", DEVPATH=="*/leds/unipi*sysled-x1", RUN+="/bin/sh -ec 'echo ttyS0-rx > /sys/${DEVPATH}/trigger || exit 0"
ACTION=="add", SUBSYSTEM=="leds", DEVPATH=="*/leds/unipi*sysled-x2", RUN+="/bin/sh -ec 'echo ttyS2-tx > /sys/${DEVPATH}/trigger || exit 0"
ACTION=="add", SUBSYSTEM=="leds", DEVPATH=="*/leds/unipi*sysled-x3", RUN+="/bin/sh -ec 'echo ttyS2-rx > /sys/${DEVPATH}/trigger || exit 0"
ACTION=="add", SUBSYSTEM=="leds", DEVPATH=="*/leds/unipi*sysled-x4", RUN+="/bin/sh -ec 'echo ttyS1-tx > /sys/${DEVPATH}/trigger || exit 0"
ACTION=="add", SUBSYSTEM=="leds", DEVPATH=="*/leds/unipi*sysled-x5", RUN+="/bin/sh -ec 'echo ttyS1-rx > /sys/${DEVPATH}/trigger || exit 0"

# Serial LEDs on ZULU-based units
ACTION=="add", SUBSYSTEM=="leds", DEVPATH=="*/leds/unipi*sysled-x0", RUN+="/bin/sh -ec 'echo ttymxc2-tx > /sys/${DEVPATH}/trigger || exit 0"
ACTION=="add", SUBSYSTEM=="leds", DEVPATH=="*/leds/unipi*sysled-x1", RUN+="/bin/sh -ec 'echo ttymxc2-rx > /sys/${DEVPATH}/trigger || exit 0"
ACTION=="add", SUBSYSTEM=="leds", DEVPATH=="*/leds/unipi*sysled-x2", RUN+="/bin/sh -ec 'echo ttymxc1-tx > /sys/${DEVPATH}/trigger || exit 0"
ACTION=="add", SUBSYSTEM=="leds", DEVPATH=="*/leds/unipi*sysled-x3", RUN+="/bin/sh -ec 'echo ttymxc1-rx > /sys/${DEVPATH}/trigger || exit 0"
ACTION=="add", SUBSYSTEM=="leds", DEVPATH=="*/leds/unipi*sysled-x4", RUN+="/bin/sh -ec 'echo ttymxc0-tx > /sys/${DEVPATH}/trigger || exit 0"
ACTION=="add", SUBSYSTEM=="leds", DEVPATH=="*/leds/unipi*sysled-x5", RUN+="/bin/sh -ec 'echo ttymxc0-rx > /sys/${DEVPATH}/trigger || exit 0"

# ACT LED on UNIPI Gate series
ACTION=="add", SUBSYSTEM=="leds", DEVPATH=="*/leds/unipi*sysled-xh", RUN+="/bin/sh -ec 'echo heartbeat > /sys/${DEVPATH}/trigger || exit 0"
ACTION=="add", SUBSYSTEM=="leds", DEVPATH=="*/leds/unipi*sysled-xh", RUN+="/bin/sh -ec 'echo timer > /sys/${DEVPATH}/trigger && echo 50 > /sys/${DEVPATH}/delay_off && echo 2000 > /sys/${DEVPATH}/delay_on || exit 0"